.center-card {
    /* text-align: center; */
    /* justify-content: center;
    align-items: center; */
    vertical-align: top;
    max-width: 40%;
    float: right;
    /* align-self: center; */
    margin-left: auto;
    margin-right: 6.66%;
    margin-top: 10px;
    margin-bottom: 10px;
    width:45%;
    
}
.field-container {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#field-list-container {
    margin-top: 10px;
}

.update-button {
   
}

.field-input-container {
    display: inline-block;
    vertical-align: bottom;
    width: 80%;
}
.update-input {
    display: inline-block;
    vertical-align: botton;
}